body{
    background-image: url('https://images.unsplash.com/photo-1523057530100-383d7fbc77a1?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=jonatan-pie-EOoa3D1N0xc-unsplash.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


